{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>About Us</title>
{% endblock title%}

{% block content %}
<section>
    <h2>Misión</h2>
    <p>Promover la lectura</p>
    <p>Encuentra la lectura que te gusta.</p>
    <p>¡Conecta con nosotros para que tu lectura sea más fácil!</p>
    <img src="{% static 'images/reading.png' %}" alt="Reading" style="width: 10%; height: 10;">

</section>
<section>
    <h2>Sobre nosotros</h2>
    <p>Nos encanta leer y queremos compartirlo contigo.</p>
    <img src="{% static 'images/team.png' %}" alt="Team" style="width: 20%; height: 10;">


</section>
{% endblock content%}

{% block footer %}
    <p>Thank you for visiting our website.</p>
    &copy; 2025 by Your Company
{% endblock footer %}
